<nav class="flexbox">
    <img id="logo-image" src="https://freesvg.org/img/1612736928logo-design-element-3.png">
   
<ul class="fullwidth" >
  <li><a href="#">HOME</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
</header> 

<div id="container">
<h>
<h1>A RESPONSIVE NAVBAR WITH LOGO</h1>
<H2>And some fancy hover effects</H2>
<p>This is an exercise in CSS Flexbox applied to a navigation bar.</p>
<p>Try resizing the window and the navbar will shrink and place itself under the logo.</p>
<p>Hopefully.</p>
</div>

</m>