<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    {% if show_msg and msg_type == "error" %}
        <div class="alert alert-danger" role="alert">
            {{msg}}
        </div>
    {% elif show_msg and msg_type == "success" %}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="data" />
        <button type="submit">Submit</button>
    </form>
    <br />
    <h1>{{msg}}</h1>  
      
</body>
</html>
