<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="num1" />
        <br />
        <input type="text" name="num2" />
        <br />
        <select name='operator'>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
            <option value="%">%</option>
        </select>
        <br />
        <button type="submit">Submit</button>
    </form>
    <br />
    <h1>{{val}}</h1>  
    <h1>{{msg}}</h1>  
      
</body>
</html>
