*{
    margin: 0;
    padding: 0;
}
.fw{
    max-width: 1124px;
    margin: auto;
}
.clear-flot::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
img{
    max-width: 100%;
    margin-bottom: -4px;
}
