body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

tr,td,th
{
  text-align:center;
}

.table_head
{
  font-size:40px;
}

.thead
{
  font-size: 24px;
}

body{
	background-color:#00b8b5;
}
.table tr {
    cursor: pointer;
}
.table tr td.hiddenRow {
    border: none;
}
.table{
	background-color: #ffffff;
}
h1{
	color:#fff;
	font-size:1.5rem;
}
h2{
	color:#3a3a3a;
	font-size:1.5rem;
}
.main-section{
	margin-top: 50px;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 1rem;
}
.accordian-body span{
	color:#a2a2a2 !important;
}




