.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 5%;
}

table {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: #20262e;
  color: #fff;
  overflow: hidden;
}

table tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

table th,
table td:before {
  color: #28b1de;
}

table th {
  display: none;
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}

table td {
  display: block;
  font-size: 90%;
}

table td:first-child {
  padding-top: 1rem;
}

table td:last-child {
  padding-bottom: 1rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

.table-2 table td:before {
  min-width: 0;
}

.table-3 table {
  background-color: rgb(46, 53, 62);
}

.table-3 table tr:nth-child(even) {
  background-color: transparent;
}

.table-3 table td:before {
  width: 100%;
  font-weight: normal;
  opacity: .8;
}

.table-3 table td {
  margin: 0;
  padding: 1.5rem 2rem 0 2rem;
  font-weight: bold
}

.table-3 table tr td:first-child {
  background-color: #20262e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table-3 table tr td:last-child {
  padding-bottom: 1.5rem;
  border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.table-3 table tr:last-child td:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
  }
  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }
  .table-3 table {
    background-color: #20262e;
  }
  .table-3 table tr:nth-child(even) {
    background-color: rgb(46, 53, 62);
  }
  .table-3 table td {
    margin: .5rem 2rem;
    padding: 1.5rem 2rem;
    font-weight: normal
  }
  .table-3 table tr td:first-child {
    background-color: transparent;
  }
  .table-3 table tr td:last-child {
    border-bottom: none;
  }
}