<!DOCTYPE html>
<html>
<head>

    </head>
    
    <body>
        <!-- Content for Static Frame 'header_frame' -->
        <div id="header_content">
            <h3>Dennnis Ivanov Company</h3>
        </div>
    

    
        <!-- HTML Content -->
        <table>
                <tr>
                    <td>{{address}}</td>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <td>{{city}} {{state}},</td>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <td>{{zipcode}}</td>
                    <td>{{website}}</td>
                </tr>
        </table>
    
        <hr>
    
        <table>
            <tr>
     
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr>
     
                <td>Hosting Plan</td>
                <td>$7.99</td>
                <td>2</td>
                <td>$15.98</td>
            </tr>
            <tr>
     
                <td>consultation </td>
                <td>$225</td>
                <td>1</td>
                <td>$225</td>
            </tr>
            <tr>
     
                <td>Service Hours</td>
                <td>$189</td>
                <td>45.7</td>
                <td>$8637.30</td>
            </tr>
        </table>
    
        <hr>
    
        <p><strong>Total: $8878.28</strong></p>
    </body>
    </html>