.content {display:none;}
/* .preload 
{ 
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
} */

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  a{
    text-decoration: none;
  }
  
  /* GRID */
  

  .three 
  { 
      width: 23.8%; 
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
    }

    .loader{
        width:100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }
    
    .rectangle_loader
    {
        margin:auto;
        left:0;
        right:0;
        top:0;
        bottom:0;
        position:fixed;
    }

  
  /* COLUMNS */
  
  .col {
      display: block;
      float:left;
      margin: 1% 0 1% 1.6%;
  }
  
  .col:first-of-type {
    margin-left: 0;
  }
  
  .container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  
  /* CLEARFIX */
  
  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }
  
  .cf:after {
      clear: both;
  }
  
  .cf {
      *zoom: 1;
  }
  
  .row{
    margin: 30px 0;
  }
  
  .three{
    background-color: rgb(0, 0, 0);
    padding: 50px 0;
  }
  
  /* ALL LOADERS */
  


  /* LOADER 3 */
  
  #loader-3:before, #loader-3:after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    background-color: #000000;
    animation: squaremove 1s ease-in-out infinite;
  }
  
  #loader-3:after{
    bottom: 0;
    animation-delay: 0.5s;
  }
  
  @keyframes squaremove{
    0%, 100%{
      -webkit-transform: translate(0,0) rotate(0);
      -ms-transform: translate(0,0) rotate(0);
      -o-transform: translate(0,0) rotate(0);
      transform: translate(0,0) rotate(0);
    }
  
    25%{
      -webkit-transform: translate(40px,40px) rotate(45deg);
      -ms-transform: translate(40px,40px) rotate(45deg);
      -o-transform: translate(40px,40px) rotate(45deg);
      transform: translate(40px,40px) rotate(45deg);
    }
  
    50%{
      -webkit-transform: translate(0px,80px) rotate(0deg);
      -ms-transform: translate(0px,80px) rotate(0deg);
      -o-transform: translate(0px,80px) rotate(0deg);
      transform: translate(0px,80px) rotate(0deg);
    }
  
    75%{
      -webkit-transform: translate(-40px,40px) rotate(45deg);
      -ms-transform: translate(-40px,40px) rotate(45deg);
      -o-transform: translate(-40px,40px) rotate(45deg);
      transform: translate(-40px,40px) rotate(45deg);
    }
  }
  