{% extends "../base.html" %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/' %}">
{% endblock %}


{% block content %}

<h1>Welcome to Predict Page</h1>
<br />
<div align="center">Please enter the following information</div>
<br />
<form action="{% url 'predict' %}" method="POST">
    {% csrf_token %}
    <table>

        <tr>
            <td align="right">Pregnancies :</td>
            <td align="left">
                <input type="text" name="Pregnancies" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">Glucose :</td>
            <td align="left">
                <input type="text" name="Glucose" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">Blood Pressure :</td>
            <td align="left">
                <input type="text" name="Blood_Pressure" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">Skin Thickness :</td>
            <td align="left">
                <input type="text" name="Skin_Thickness" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">Insulin :</td>
            <td align="left">
                <input type="text" name="Insulin" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">BMI :</td>
            <td align="left">
                <input type="text" name="Bmi_val" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">Diabetes Pedigree Function :</td>
            <td align="left">
                <input type="text" name="Diabetes_Pedigree_Function" /></td>
            </td>
        </tr>

        <tr>
            <td align="right">Age :</td>
            <td align="left">
                <input type="text" name="Age" /></td>
            </td>
        </tr>

    </table>
    <button type="submit">Submit</button>
</form>
Result : {{result}}
{% endblock %}